<mat-toolbar class="hp-background">
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row>
        <div style="width: 90%;">
            <p class="bcrs-title hp-secondary">
                Bob's Computer Repair Shop <br />
                <img class="header-logo" src="./assets/bcrs-logo.png" alt="BCRS Logo">
                </p>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex.gt-sm="55" fxFlex="100">

        <br /><br />

        <mat-card class="mat-elevation-z4 card-container">
            <mat-card-title class="mat-headline card-title">Reset Password</mat-card-title>

            <br /><br />

            <form [formGroup]="form" (ngSubmit)="resetPassword()" #resetPasswordForm>
                <mat-card-content fxLayout="column">

                    <mat-form-field fxFlex appearance="fill">
                        <mat-label>Reset password <span class="required">*</span></mat-label>
                        <input matInput type="password" [formControl]="form.controls['password']" (keydown.enter)="resetPassword()" />

                        <mat-error class="error" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">
                            Password is a required field.
                        </mat-error>

                        <mat-error class="error" *ngIf="form.controls.password.hasError('pattern') && form.controls.password.touched">
                            Password must be at least 8 characters, contain one letter, and one number.
                        </mat-error>
                    </mat-form-field>

                    <br /><br />

                    <div fxFlex fxLayoutAlign="end">
                        <button mat-raised-button routerLink="/session/signin" color="warn">Cancel</button> &nbsp;&nbsp;
                        <button mat-raised-button [disabled]="!form.valid" class="hp-background">Forgot Password</button>
                    </div>
                </mat-card-content>
            </form>
        </mat-card>
    </div>
</div>