<!--
============================================
; Title:  error.component.html
; Author: Eunice Lim
; Date: 23 September 2021
; Description: 500 Server Error page
;===========================================
-->

<div fxLayout="column" class="error">
    <div fxFlex>

    <a href="https://github.com/adamluna/BobsComputerRepair/blob/dev/src/assets/img-attribution.txt" target="_blank"><img src="./assets/500.png" ></a> 
        
        </div>
        <div fxFlex>
        <button mat-raised-button color="primary" class="btn_error" routerLink="/">Return to Dashboard</button>
        </div>
        
</div>