<h1 style ="font-weight: heavy; text-align: center;">Contact Us</h1>

<div fxLayout="row" fxLayoutGap="5px">
    <mat-card fxFlex class="mat-elevation-z0">
        <mat-card-title style="text-align: center;">
            <mat-icon color="accent">navigation</mat-icon>
        </mat-card-title>
        <br/>
        <mat-card-content style="text-align: center;">
            <h4><strong>Physical location</strong></h4>
        <p>
            1230 Delta Ave
        </p>
        <p>
            Bellevue, NE 68110
        </p>
    </mat-card-content>
    </mat-card>
    <mat-card fxFlex class="mat-elevation-z0">
        <mat-card-title style="text-align: center;">
            <mat-icon color="accent">phone</mat-icon>
        </mat-card-title>
        <br/>
        <mat-card-content style="text-align: center;">
            <h4><strong>By phone or email</strong></h4>
        <p>
            Direct: 402-123-4567
        </p>
    
        <p>
            Toll-free: 1-800-123-4567
        </p>
        <p>
            Fax: 402-123-4599
        </p>
        <p>
            Email: letsfixit@bcrs.com
        </p>
    
    </mat-card-content>
        </mat-card>
</div>

<br/><br/><br/><br/>
<div fxLayout="column">
    <p style="text-align: center;">
        Check us out online or come see us at one of our awesome Omaha metro locations!
    </p>
</div>