img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    padding-top: 50px;
  }
  
  .btn_error{
      display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
  }