<mat-toolbar  class="hp-background">
    <mat-toolbar-row></mat-toolbar-row>
<mat-toolbar-row>
    
        <div style="width: 90%;">
            <p class="bcrs-title hp-secondary">
                Bob's Computer Repair Shop <br />
                <img class="header-logo" src="./assets/bcrs-logo.png" alt="BCRS Logo">
                </p>
        </div>
    

    </mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex.gt-sm="55" fxFlex="100">

        <br /><br />

        <mat-card class="mat-card-top mat-elevation-z4 card-container">
            <mat-card-title class="mat-headline card-title">Verify Security Questions</mat-card-title>

            <br /><br />

            <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>

            <form *ngIf="selectedSecurityQuestions" [formGroup]="form" (ngSubmit)="verifySecurityQuestions()" #usernameForm (keydown.enter)="$event.preventDefault()">
                <mat-card-content fxLayout="column">

                    <mat-form-field fxFlex appearance="fill">
                        <mat-label>{{ question1 }} <span class="required">*</span></mat-label>
                        <input matInput [formControl]="form.controls['answerToSecurityQuestion1']" (keydown.enter)="verifySecurityQuestions()"/>

                        <mat-error class="error" *ngIf="form.controls['answerToSecurityQuestion1'].hasError('required') && form.controls['answerToSecurityQuestion1'].touched">
                            Required field.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="fill">
                        <mat-label>{{ question2 }} <span class="required">*</span></mat-label>
                        <input matInput [formControl]="form.controls['answerToSecurityQuestion2']" (keydown.enter)="verifySecurityQuestions()"/>

                        <mat-error class="error" *ngIf="form.controls['answerToSecurityQuestion2'].hasError('required') && form.controls['answerToSecurityQuestion2'].touched">
                            Required field.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="fill">
                        <mat-label>{{ question3 }} <span class="required">*</span></mat-label>
                        <input matInput [formControl]="form.controls['answerToSecurityQuestion3']" (keydown.enter)="verifySecurityQuestions()"/>

                        <mat-error class="error" *ngIf="form.controls['answerToSecurityQuestion3'].hasError('required') && form.controls['answerToSecurityQuestion3'].touched">
                            Required field.
                        </mat-error>
                    </mat-form-field>

                    <br/><br/>
                    <div fxFlex fxLayoutAlign="end">
                        <button mat-raised-button routerLink="/session/signin" color="warn">Cancel</button> &nbsp;&nbsp;
                        <button mat-raised-button [disabled]="!form.valid" class="hp-background">Submit</button>
                    </div>

                </mat-card-content>
            </form>
        </mat-card>
    </div>
</div>

