
<br />

<div fxLayout="column">
    <mat-card class="mat-elevation-z8">

      <mat-card-title>Create User</mat-card-title>

      <br />

      <!-- create user form -->
      <form [formGroup]="form" (ngSubmit)="createUser()" #userForm (keydown.enter)="$event.preventDefault()">
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="10px">
            <!-- username field -->
            <mat-form-field>
              <input type="text" matInput [formControl]="form.controls['userName']" placeholder="username">
  
              <mat-error class="error" *ngIf="form.controls.userName.hasError('required') && form.controls.userName.touched">
                Username is a required field.
              </mat-error>
            </mat-form-field>
  
            <!-- password field -->
            <mat-form-field>
              <input type="password" matInput [formControl]="form.controls['password']" placeholder="password">
  
              <mat-error class="error" *ngIf="form.controls.password.hasError('required') && form.controls.password.touched">
                Password is a required field.
              </mat-error>
  
              <mat-error class="error" *ngIf="form.controls.password.hasError('pattern') && form.controls.password.touched">
                Password must be at least 8 characters, contain one letter, and
                one number.
              </mat-error>
            </mat-form-field>
  
            <!-- first name field -->
            <mat-form-field>
              <input type="text" matInput [formControl]="form.controls['firstName']" placeholder="first name">
              <mat-error class="error" *ngIf="form.controls.firstName.hasError('required') && form.controls.firstName.touched">
                First name is a required field.
              </mat-error>
            </mat-form-field>
  
            <!-- last name field -->
            <mat-form-field>
              <input type="text" matInput [formControl]="form.controls['lastName']" placeholder="last name">
              <mat-error class="error" *ngIf="form.controls.lastName.hasError('required') && form.controls.lastName.touched">
                Last name is a required field.
              </mat-error>
            </mat-form-field>
  
            <!-- phone number field -->
            <mat-form-field>
              <input type="text" matInput [formControl]="form.controls['phoneNumber']" placeholder="phone number">
              <mat-error class="error" *ngIf="form.controls.phoneNumber.hasError('required') && form.controls.phoneNumber.touched">
                Phone number is a required field.
              </mat-error>
            </mat-form-field>
  
            <!-- address field -->
            <mat-form-field>
              <input type="text" matInput [formControl]="form.controls['address']" placeholder="address">
              <mat-error class="error" *ngIf="form.controls.address.hasError('required') && form.controls.address.touched">
                Address is a required field.
              </mat-error>
            </mat-form-field>
  
            <!-- email field -->
            <mat-form-field>
              <input type="text" matInput [formControl]="form.controls['email']" placeholder="email">
              <mat-error class="error" *ngIf="form.controls.email.hasError('required') && form.controls.email.touched">
                Email is a required field.
              </mat-error>
  
              <mat-error class="error" *ngIf=" form.controls.email.hasError('email') && form.controls.email.touched">
                Invalid email format.
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>

        <br />

        <!-- buttons -->
        <mat-card-actions fxLayoutAlign="end">
          <!-- cancel -->
          <button mat-raised-button (click)="cancel()" color="warn">
            Cancel
          </button>

          <!-- submit -->
          <button class="hp-background" mat-raised-button [disabled]="!form.valid">
            Submit
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>