<h1 style="font-weight: heavy; text-align: center;">About Us</h1>

<br/>

<div fxLayout="column" style="width: 70%; margin: 0 auto;">
    <p>
        <strong>About Bob’s Computer Repair Shop</strong><br/>
        Bob's Computer Repair Shop is where people go to for all their computer repair needs. 
        We also provide computer parts, ask us if you do not see what you want, and we can source it for you. Our highly trained technicians are here to help with any issue, big or small. We can also fix laptops, tablets, and phones! 
        Give us a call today or stop by at our friendly location for a free estimate.
    </p>

    <br/><br/>
    <p>
        <strong>Overview</strong><br/>
        With every business, we have to keep up with the times and technology, thus the creation of an application whose sole purpose is to check out customers. ($$$)
        This application is to assist our technicians in servicing our customers, as well as to facilitate data collection on how often services are rendered. Users can create a profile that they log in to, to check out a customer and create an invoice. With each profile, users can also decide on their custom security questions and answers, making a reset password simple and fast to do if needed. The admin role will have access to data reports that will show how many services have been invoiced at the current time. The user role can be changed in the user configuration panel as well.
        This application has been created by Adam Luna, Mark Watson, and Eunice Lim. We are students in the Bellevue University Web Development course, taught by Prof. Richard Krasso, 2021. 
        Feel free to contact us for any questions. 
    </p>
</div>
