h1{
    padding-top: 5%;
}

img {
    width: 350px;
    display: block;
    margin-left: 5%;
    border-radius: 5px;
}

.about {
    margin: auto;
    width: 70%;
    
}
.paragraph {
    display: block;
    margin: 0 25px;
    text-justify: auto;
}