<!--
============================================
; Title:  register.component.html
; Author: Professor Krasso
; Modified by: Adam Luna
; Date: 25 September 2021
; Description: Register component HTML file
;===========================================
-->
<mat-toolbar class="hp-background">
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row>
        <div style="width: 90%;">
            <p id="bcrs" class="hp-secondary">Bob's Computer Repair Shop<br/>
            <mat-icon style="margin: 5px;">build</mat-icon></p>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex.gt-sm="55" fxFlex="100">
    <br/><br/>
    <mat-card class="card-container mat-elevation-z4">
        <mat-card-title style="text-align: center; font-size: 48px; font-weight: lighter;"
        class="mat-headline">Account Registration</mat-card-title>
        <br />

        <mat-card-content fxLayout="column" fxLayoutGap="10px">
            <mat-horizontal-stepper #stepper linear>

                <!-- contact form step -->
                <mat-step fxFlex [stepControl]="contactForm" class="required" errorMessage="Contact is required">
                    <form [formGroup]="contactForm">
                        <ng-template matStepLabel>Contact Information</ng-template>
                        <br />

                        <mat-list>
                            <mat-list-item>
                                <mat-form-field fxFlex appearance="fill">
                                    <mat-label>First name</mat-label>
                                    <input matInput [formControl]="contactForm.controls['firstName']" />

                                    <mat-error class="error" *ngIf="contactForm.controls['firstName'].hasError('required') && contactForm.controls['firstName'].touched">First name is a required field.</mat-error>
                                </mat-form-field>

                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <mat-form-field fxFlex appearance="fill">
                                    <mat-label>Last name</mat-label>
                                    <input matInput [formControl]="contactForm.controls['lastName']" />

                                    <mat-error class="error" *ngIf="contactForm.controls['lastName'].hasError('required') && contactForm.controls['lastName'].touched">Last name is a required field.</mat-error>
                                </mat-form-field> 
                            </mat-list-item>

                            <br /><br />

                            <mat-list-item>
                                <mat-form-field fxFlex appearance="fill">
                                    <mat-label>Phone number</mat-label>
                                    <input matInput [formControl]="contactForm.controls['phoneNumber']" />

                                    <mat-error class="error" *ngIf="contactForm.controls['phoneNumber'].hasError('required') && contactForm.controls['phoneNumber'].touched">Phone number is a required field.</mat-error>
                                </mat-form-field>

                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <mat-form-field fxFlex appearance="fill">
                                    <mat-label>Email</mat-label>
                                    <input matInput [formControl]="contactForm.controls['email']" />

                                    <mat-error class="error" *ngIf="contactForm.controls['email'].hasError('required') && contactForm.controls['email'].touched">Email is a required field.</mat-error>

                                    <mat-error class="error" *ngIf="contactForm.controls['email'].hasError('email') && contactForm.controls['lastName'].touched">Invalid email format.</mat-error>
                                </mat-form-field>
                            </mat-list-item>

                            <br /><br />
                            <mat-list-item>
                                <mat-form-field fxFlex appearance="fill">
                                    <mat-label>Address</mat-label>
                                    <input matInput [formControl]="contactForm.controls['address']" />

                                    <mat-error class="error" *ngIf="contactForm.controls['address'].hasError('required') && contactForm.controls['address'].touched">Address is a required field.</mat-error>
                                </mat-form-field>
                            </mat-list-item>
                        </mat-list>

                        <br />
                        <div fxLayoutAlign="end">
                            <button mat-raised-button class="hp-background hp-secondary" matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>

                <mat-step [stepControl]="securityQuestionsForm" errorMessage="Security Questions are required">
                    <form [formGroup]="securityQuestionsForm">
                        <ng-template matStepLabel>Security Questions</ng-template>

                        <br />

                        <mat-list>
                            <mat-list-item>
                                <mat-form-field fxFlex appearance="fill">
                                    <mat-label>Security Question</mat-label>
                                    <mat-select [formControl]="securityQuestionsForm.controls['securityQuestion1']">
                                        <mat-option *ngFor="let question of securityQuestions" [value]="question.text">
                                            {{question.text}}
                                        </mat-option>
                                    </mat-select>

                                    <mat-error class="error" *ngIf="securityQuestionsForm.controls['securityQuestion1'].hasError('required') && securityQuestionsForm.controls['securityQuestion1'].touched">Required field.</mat-error>
                                </mat-form-field>

                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-form-field fxFlex appearance="fill">
                                    <mat-label>Answer</mat-label>
                                    <input matInput [formControl]="securityQuestionsForm.controls['answerToSecurityQuestion1']" />

                                    <mat-error class="error" *ngIf="securityQuestionsForm.controls['answerToSecurityQuestion1'].hasError('required') && securityQuestionsForm.controls['answerToSecurityQuestion1'].touched">
                                        Required field.
                                    </mat-error>
                                </mat-form-field>
                            </mat-list-item>

                            <br /><br />
                            
                            <mat-list-item>
                                <mat-form-field fxFlex appearance="fill">
                                    <mat-label>Security Question</mat-label>
                                    <mat-select [formControl]="securityQuestionsForm.controls['securityQuestion2']">
                                        <mat-option *ngFor="let question of securityQuestions" [value]="question.text">
                                            {{question.text}}
                                        </mat-option>
                                    </mat-select>

                                    <mat-error class="error" *ngIf="securityQuestionsForm.controls['securityQuestion2'].hasError('required') && securityQuestionsForm.controls['securityQuestion2'].touched">Required field.</mat-error>
                                </mat-form-field>

                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-form-field fxFlex appearance="fill">
                                    <mat-label>Answer</mat-label>
                                    <input matInput [formControl]="securityQuestionsForm.controls['answerToSecurityQuestion2']" />

                                    <mat-error class="error" *ngIf="securityQuestionsForm.controls['answerToSecurityQuestion2'].hasError('required') && securityQuestionsForm.controls['answerToSecurityQuestion2'].touched">
                                        Required field.
                                    </mat-error>
                                </mat-form-field>
                            </mat-list-item>

                            <br /><br />

                            <mat-list-item>
                                <mat-form-field fxFlex appearance="fill">
                                    <mat-label>Security Question</mat-label>
                                    <mat-select [formControl]="securityQuestionsForm.controls['securityQuestion3']">
                                        <mat-option *ngFor="let question of securityQuestions" [value]="question.text">
                                            {{question.text}}
                                        </mat-option>
                                    </mat-select>

                                    <mat-error class="error" *ngIf="securityQuestionsForm.controls['securityQuestion3'].hasError('required') && securityQuestionsForm.controls['securityQuestion3'].touched">Required field.</mat-error>
                                </mat-form-field>

                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-form-field fxFlex appearance="fill">
                                    <mat-label>Answer</mat-label>
                                    <input matInput [formControl]="securityQuestionsForm.controls['answerToSecurityQuestion3']" />

                                    <mat-error class="error" *ngIf="securityQuestionsForm.controls['answerToSecurityQuestion3'].hasError('required') && securityQuestionsForm.controls['answerToSecurityQuestion3'].touched">
                                        Required field.
                                    </mat-error>
                                </mat-form-field>
                            </mat-list-item>
                        </mat-list>

                        <br />
                        <div fxLayoutAlign="end">
                            <button mat-raised-button color="basic" matStepperPrevious>Back</button> &nbsp;
                            <button mat-raised-button class="hp-background hp-secondary" matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>

                <mat-step [stepControl]="credentialsForm" errorMessage="Credentials is required">
                    <form [formGroup]="credentialsForm">
                        <ng-template matStepLabel>Credentials</ng-template>

                        <br />

                        <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>

                        <div class="register-credentials-container">
                            <mat-list>
                                <mat-list-item>
                                <mat-form-field fxFlex appearence="fill">
                                    <mat-label>Username</mat-label>
                                    <input matInput [formControl]="credentialsForm.controls['userName']" />
                                </mat-form-field>
                            </mat-list-item>
                            
                            <br /><br />

                            <mat-list-item>
                                <mat-form-field fxFlex appearence="fill">
                                    <mat-label>Password</mat-label>
                                    <input type="password" matInput [formControl]="credentialsForm.controls['password']" />

                                    <mat-error class="error" *ngIf="credentialsForm.controls['password'].hasError('required') && credentialsForm.controls['password'].touched">
                                        Password is a required field.
                                    </mat-error>

                                    <mat-error class="error" *ngIf="credentialsForm.controls.password.hasError('pattern') && credentialsForm.controls.password.touched">
                                        Password must be at least 8 characters, contain one letter, and one number.
                                    </mat-error>
                                </mat-form-field>
                            </mat-list-item>
                        </mat-list>

                        <br />
                        <div fxLayoutAlign="end">
                            <button mat-raised-button color="basic" matStepperPrevious>Back</button> &nbsp;&nbsp;
                            <button mat-raised-button (click)="register()" [disabled]="!credentialsForm.valid" class="hp-background hp-secondary">Register</button>
                        </div>
                        </div>
                    </form>
                </mat-step>
            </mat-horizontal-stepper>

            <div>
                <a routerLink="/session/signin" class="register-footer-link">Employee Sign In</a>
            </div>

        </mat-card-content>
    </mat-card>
    </div>
</div>