<div fxLayout="column">
    <mat-card class="mat-elevation-z8 hp-card-sm">
        <mat-card-title>User Details</mat-card-title>

        <br/>
        <form [formGroup]="form" (ngSubmit)="saveUser()" #userForm (keydown.enter)= "$event.preventDefault()">
            <mat-card-content>
                <div fxLayout="column" fxLayoutGap="10px">
                    <mat-form-field>
                        <input type="text" matInput [formControl]="form.controls['firstName']"
                        placeholder="First name"/>

                        <mat-error class="error" *ngIf="form.controls.firstName.hasError('required') && form.controls.firstName.touched">
                            First name is a required field.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input type="text" matInput [formControl]="form.controls['lastName']"
                        placeholder="Last name"/>

                        <mat-error class="error" *ngIf="form.controls.lastName.hasError('required') && form.controls.lastName.touched">
                            Last name is a required field.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Role</mat-label>
                        <mat-select [formControl]="form.controls['role']">
                            <mat-option *ngFor="let role of roles" [value]="role.text">{{ role.text }}</mat-option>
                        </mat-select>

                        <mat-error class="error" *ngIf="form.controls['role'].hasError('required') && form.controls['role'].touched">
                            Role is a required field.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input type="text" matInput [formControl]="form.controls['phoneNumber']"
                        placeholder="Phone number"/>

                        <mat-error class="error" *ngIf="form.controls.phoneNumber.hasError('required') && form.controls.phoneNumber.touched">
                            Phone number is a required field.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input type="text" matInput [formControl]="form.controls['address']"
                        placeholder="Address"/>

                        <mat-error class="error" *ngIf="form.controls.address.hasError('required') && form.controls.address.touched">
                            Address is a required field.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input type="text" matInput [formControl]="form.controls['email']"
                        placeholder="Email"/>

                        <mat-error class="error" *ngIf="form.controls.email.hasError('required') && form.controls.email.touched">
                            Email is a required field.
                        </mat-error>
                        <mat-error class="error" *ngIf="form.controls.email.hasError('email') && form.controls.email.touched">
                            Invalid email format.
                        </mat-error>
                    </mat-form-field>
                </div>
                </mat-card-content>

                <br/>

                <mat-card-actions align="end">
                    <button mat-raised-button (click)="cancel()" color="warn">Cancel</button>
                    <button mat-raised-button [disabled]="!form.valid" type="submit" class="hp-background">Submit</button>
                </mat-card-actions>
        </form>
    </mat-card>
</div>
                