/**
 * Title: BCRS - Home Styles
 * Author: Prof. Richard Krasso
 * Modified By: Eunice Lim, Adam Luna, Mark Watson
 * Date: 21 Sept 2021
 * Description: Home component CSS file.
 */
  
  .title {
    text-align: center;
    font-weight: lighter;
  }
  
  .subtitle {
    text-align: center;
    font-size: 14px;
  }
  