<!--
============================================
; Title:  signin.component.html
; Author: Professor Krasso
; Modified by: Adam Luna
; Date: 24 September 2021
; Description: Sign in component HTML file
;===========================================
-->
<mat-toolbar class="hp-background">
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row>
        <div style="width: 90%;">
            <p class="bcrs-title hp-secondary">
            Bob's Computer Repair Shop <br />
            <img class="header-logo" src="./assets/bcrs-logo.png" alt="BCRS Logo">
            </p>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>

<br /><br />
    
<div fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex.gt-sm="55" fxFlex="100">
        <mat-card class="card-container mat-elevation-z4">

            <br />

            <mat-card-title style="text-align: center; font-size: 48px; font-weight: lighter;"
                    class="mat-headline">Employee Sign In
            </mat-card-title>

            <mat-card-subtitle style="text-align: center;" class="mat-headline">
                You must enter a valid username/password to proceed
            </mat-card-subtitle>

            <br />

            <mat-card-content>
                <!-- for any error message-->
                <small style="color: #c51d36;" *ngIf="errorMessage">{{ errorMessage }}<br/></small>
                <mat-card class="mat-elevation-z0">

                    <form [formGroup]="form" (ngSubmit)="signin(); form.reset()" #loginForm="ngForm">

                        <mat-card-content fxLayout="column" fxLayoutGap="10px">

                            <mat-form-field fxFlex appearence="fill">
                                <mat-label>Username</mat-label>
                                <input type="text" matInput fxFlex [formControl]="form.controls['userName']" />

                                    <mat-error class="error" *ngIf="form.controls.userName.hasError('required') && form.controls.userName.touched">
                                        Username is a required field.
                                    </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex appearence="fill">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput fxFlex [formControl]="form.controls['password']" />

                                <!--error prompts at the form fill-->
                                <mat-error class="error" *ngIf="form.controls.password.hasError('required') && form.controls.password.touched">
                                    Password is a required field.
                                </mat-error>

                                <mat-error class="error" *ngIf="form.controls.password.hasError('pattern') && form.controls.password.touched">
                                    Password must be at least 8 characters, contain one letter, and one number.
                                </mat-error>
                            </mat-form-field>

                        </mat-card-content>

                        <mat-card-actions>
                            <button id="signin-btn" type="submit" [disabled]="!form.valid" fxFlex mat-raised-button class="hp-background">Submit</button>
                        </mat-card-actions>

                        <br/>

                        <div fxLayout="row">
                            <div class="signin-footer-container">
                                <div fxFlex class="center-text">
                                    <a class="create-account-link" routerLink="/session/register">Create new account</a>
                                </div>

                                <div fxFlex class="center-text">
                                    <a class="forgot-password-link" routerLink="/session/forgot">Forgot password?</a>
                                </div>
                            </div>
                        </div>

                        <br />

                    </form>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
</div>