/**
 * Date: 18 September 2021
 * Title: BCRS - Base Layout Styles
 * Author: Mark Watson
 * Description: The base-layout CSS file.
 */

.logo {
  margin-left: 75px;
  font-size: 24px;
  font-weight: lighter;;
}

nav, mat-toolbar {
  width: 100%;
}

.navbar-container {
  padding: 5px;
}

mat-toolbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
}

.main-content {
  margin-bottom: 100px;
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
}

.bu-link {
  text-decoration: none;
}

.bu-link:hover {
  text-decoration: underline;
}

.crest {
  vertical-align: middle; 
  width: 40px; 
  height: auto;
  transform: rotate(-1deg);
}
