/**
 * Date: 18 September 2021
 * Title: BCRS - Global Styles
 * Author: Mark Watson
 * Description: The BCRS global CSS file.
 */

/* You can add global styles to this file, and also import other style files */

/* Default element styles */
html, body { 
    height: 100%; 
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

mat-card {
    overflow: auto;
}

table {
    margin: auto 0;
    width: 100%;
}

tbody tr:hover {
    background-color: #fdda38;
}

th, td {
    padding: 0 5px !important;
}

/* Global custom classes */
.hp-background {
    background-color: #fdda38;
}

.hp-background-2 {
    background-color: #2f2f2d;
}

.hp-primary {
    color: #fdda38;
}

.hp-secondary {
    color: #2f2f2d;
}

.hp-tertiary {
    color: #fff;
}

.hp-card {
    width: 75%; 
    max-width: 1000px; 
    min-width: 400px;
    margin: 0 auto;
}

.hp-card-sm {
    width: 50%; 
    max-width: 750px; 
    min-width: 400px;
    margin: 0 auto;
}
